  /* Universidad Tecnologica Metropolitana
        Desarrollo de sofware multiplataforma
        Aplicaciones Web
        Parcial 1
        Ruth Martinez Gonazalez
        Alumno: Jorge Abaraham Cruz Pech
        Cuatrimestre 3 Grupo C
    */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #34a58c;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-row label {
    flex: 0 0 25%;
    text-align: right;
    padding-right: 35px;
}

.input-row select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

input,
select {
    flex: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    flex: 1;
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
