header{
    width: 750px;
    height: 250px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.banner{
    background-color: white;
    width: 650px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background-color: white;
    width: 90px;
    height: 240px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 770px;
    height: 50px;
    background-color: green;
}

main{
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: arow;
    background-color: black;
    padding: 10px;
}

article{
    width: 450px;
    height: 390px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    width: 280px;
    height: 390px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 770px;
    height: 50px;
    background-color: orange;
}
