  /* Universidad Tecnologica Metropolitana
        Desarrollo de sofware multiplataforma
        Aplicaciones Web
        Parcial 1
        Ruth Martinez Gonazalez
        Alumno: Jorge Abaraham Cruz Pech
        Cuatrimestre 3 Grupo C
    */
header {
    width: 750px;
    height: 250px;
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    border: 10px solid black;
}

header .banner {
    width: 480px;
    height: 240px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 5px;
}

header .logo {
    width: 250px;
    height: 240px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 0px;
}

nav {
    width: 758px;
    height: 50px;
    background-color: green;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

main {
    width: 750px;
    height: 400px;
    background-color: rgb(211, 129, 157);
    display: flex;
    border: 10px solid black;
}

article {
    width: 470px;
    height: 390px;
    background-color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 280px;
    height: 390px;
    background-color: white;
    margin: 5px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 750px;
    height: 50px;
    background-color: orange;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
}
