    /* Universidad Tecnologica Metropolitana
        Desarrollo de sofware multiplataforma
        Aplicaciones Web
        Parcial 1
        Ruth Martinez Gonazalez
        Alumno: Jorge Abaraham Cruz Pech
        Cuatrimestre 3 Grupo C
    */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(49, 202, 144);
}

.container {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-row {
    display: flex;
    align-items: center;
}

.input-row label {
    padding-right: 15px;
}

.input-row select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

.boxColor {
    width: 15px;
    height: 15px;
    background-color: black;
}

input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}